@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

li {
  list-style: none;
}

a {
  color: darkgrey;
  margin: 5px;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
} 

.header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.footer {
  padding: 15px;
  background-color: #eee;
  display: flex;
  justify-content: space-between;
}

.left-links {
  display: flex;
  margin: 0;
  padding: 0;
}

.right-links {
  display: flex;
  margin: 0;
  padding: 0;
}
